.label-image {
    display: flex;
    padding: 0.5em 1em;
    gap: 10px;
    cursor: pointer;
}

.registry-container {
    margin: 1em 0;
}

.file-name {
    color: var(--background-secondary);
    font-size: 0.6em;
}