<section class="container-flex justify-center simple-page">
    <div class="simple-page-container registry-container borderless-radius">
        <h1 class="title ff-fugaz">Cadastro - Social Media Demo</h1>
        <div class="field-container">
            <span class="material-symbols-outlined">face</span>
            <input class="input-default pink-border dark-bkg" type="text" 
                name="name" placeholder="Digite seu nome" [(ngModel)]="user.name">
        </div>
        <div class="field-container">
            <span class="material-symbols-outlined">passkey</span>
            <input class="input-default pink-border dark-bkg" type="password" 
                name="password" placeholder="Digite uma senha" [(ngModel)]="register.password">
        </div>
        <div class="field-container">
            <span class="material-symbols-outlined">check</span>
            <input class="input-default pink-border dark-bkg" type="password" 
                name="password" placeholder="Confirme sua senha" [(ngModel)]="register.confirmPassword">
        </div>
        <div class="field-container">
            <input type="file" name="file" id="file" class="input-file" 
                accept="image/png, image/jpg, image/jpeg" 
                (change)="onFileChange($event)"/>
            <label for="file" class="label-image pink-border dark-bkg borderless-radius">
                <span>Enviar Foto</span> <span class="material-symbols-outlined">photo_camera</span>
            </label>
        </div>
        <p class="file-name">{{ register.fileName }}</p>
        <button class="button register-button ff-fugaz borderless-radius" (click)="doRegister()">Cadastrar</button>
    </div>
</section>
